<filter-bar>

  <live-search-input [fieldName]="'name'" (onInput)="filterShows($event)"></live-search-input>
  <drop-down-list [items]="genres | async" (onSelectItem)="filterShows({fieldName: 'genre', fieldValue: $event})"></drop-down-list>
  <drop-down-date-list [items]="dates | async" (onSelectItem)="filterShows({fieldName: 'premiereDate', fieldValue: $event })"></drop-down-date-list>

</filter-bar>
<div-table>

  <table-head>Name <sort-button [fieldName]="'name'" (onDirectionChanged)="addSortField($event)"></sort-button></table-head>
  <table-head>Season</table-head>
  <table-head>Network</table-head>
  <table-head>Premiere <sort-button [fieldName]="'premiereDate'" (onDirectionChanged)="addSortField($event)"></sort-button></table-head>

  <list-row *ngFor="let show of filteredShows$ | async | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }">
    <table-cell><p>{{show.name}}</p><p>{{show.genre}}</p></table-cell>
    <table-cell>{{show.season}}</table-cell>
    <table-cell>{{show.network}}</table-cell>
    <table-cell>{{show.premiereDate | date: 'dd/MM/yyyy'}}</table-cell>
  </list-row>

</div-table>

<div class="pagination-controls-wrapper">
  <pagination-controls (pageChange)="onChangePage($event)" class="my-pagination"></pagination-controls>
  <button-list [style]="{alignSelf: 'flex-end'}" (onClick)="changeItemsCountOnPage($event)"></button-list>
</div>
